<a href="https://colab.research.google.com/github/mohanasundaram1207/DATA-SCIENCE/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, Excited to start Data Science.")

Hello, Excited to start Data Science.

In [ ]:
customer_name = "BALAMURUGAN"
customer_age = 28
customer_balance = 35000000
print("Customer : ",customer_name)
print("Age : ", customer_age)
print("Balance : ", customer_balance)

Customer :  BALAMURUGAN
Age :  28
Balance :  35000000

In [ ]:
product_price = 23908
discount = product_price*0.10
final_price = product_price-discount
print("Final Price after Discount : ",final_price)

Final Price after Discount :  21517.2

In [ ]:
import numpy as np
sales=np.array([150,200,250,300,350,400,450,500])
print("Sales Data:",sales)

Sales Data: [150 200 250 300 350 400 450 500]

In [ ]:
print("Avrage Sales:", np.mean(sales))
print("Highest Sale:",np.max(sales))
print("Lowest Sales:",np.min(sales))

Avrage Sales: 325.0
Highest Sale: 500
Lowest Sales: 150

In [ ]:
import pandas as pd
data = {
    "Customer":["Saravanan","Balamurugan","Mohansundaram"],
     "Age":[20,19,20],
      "Amount Spent":[264,300,286]
    }
df=pd.DataFrame(data)
print(df)

        Customer  Age  Amount Spent
0      Saravanan   20           264
1    Balamurugan   19           300
2  Mohansundaram   20           286

In [ ]:
from google.colab import files
uploaded = files.upload()
df = pd.a